<!DOCTYPE html>
<html>
    <head>
        <title>제이쿼리</title>
        <meta charset="utf-8">
    </head>
    <script src="/res/jquery.js"></script>
    <body>
        <div id="div1">
            헬로
        </div>
        <button id="btn1">show</button>
        <script>
            var $2 = function(selector){
                var obj = document.querySelector(selector);
                obj.html = function(text){
                    if(text){
                        this.innerHTML = text;
                    }
                    return this.innerHTML;
                }
                obj.append = function(text){
                    if(text){
                        this.innerHTML += text;
                    }
                    return this.innerHTML;
                }
                return obj;
            }
            alert($2('#div1').html());
            $2('#div1').append('hihi');
        </script>
    </body>    
</html>
